<div class="d-flex flex-column align-items-start justify-content-center h-100">
  <div class="row">
    {{#each-in projects as |idx project|}}
      <div class="col">
        <ProjectCard
          @project={{project}}
          @priority={{idx}}
          @movedX={{cardX}}
          @movedY={{cardY}}
          @movedCardId={{cardId}}
        />
      </div>
    {{/each-in}}
  </div>
</div>
